/*Tipografia*/
/* @font-face { 
    font-family: 'DejavuSans';
    src: url(../assets\font\DejaVuSans-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}*/

/*Index*/

/*GRID AREAS*/
/*
.contenedor{

    width: clamp(300px, 100%, 1400px)
    display: grid;
    grid-template-columns: 1 fr,
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

header{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [navegador] 50px [banner] 500px;
    grid-template-areas: 
    "navegador"
    "banner";
}

footer{

    grid-template-areas: 
    "contactar"
    "formulario "
    "mapa"
    "Copyright";
    
    
}


@media only screen and (min-width: 1000px) {
body{

    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}
footer{

    grid-template-areas: 
    "contactar ."
    "formulario mapa "
    "Copyright .";
}

*/

.contenedor{

    width: 100vw;
}

.textoindex{
    font-family: sans-serif;
    grid-column: 1;
    grid-row: 2;

}

.banerindex__titulo{
    color: black;
    font-family: sans-serif;
    

 

}

.titulo2{
    font-family: sans-serif;
    color: white;
    
}

.titulodos{

    font-family: sans-serif;
}

/*Header*/

header{

display:grid;
grid-template-columns: 40% 40% 20%;
grid-template-rows: auto auto auto auto auto;
}

/*imagen header*/

.banerindex{

width:100%;
display: grid;
grid-column: 1;
grid-row: 2/5;

}

/*logo*/

.logo{

    display: grid;
    grid-column: 3;
    grid-row: 1;
}

/*logo menu*/

.menu{

    grid-column: 1;
    grid-row: 1;
}

/*MAIN*/

main{

    
}

.componentesmain{

    display: flex;
    

}
.bannerindex__main{

    width: 100%;
    
}

.flecha__vector{
display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.titulodos{

    display: flex;
    align-items: center;
    justify-content: center;
}

.textomain{

}

.componentesmain__primero{

    justify-content: start;
    align-items: center;
}

.componentesmain__segundo{

    justify-content: start;
    align-items: center;
}

/*footer*/

/*footer{

    
    display: grid;
    
    
}*/

.copy{

    background-color: rgb(161, 153, 153);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    
}

/*formulario*/

.formulario__contactar{

    color: white;
    background-color: black;
}

.boton{
    background-color: red;
    color: white;
}

/*Banner Mapa*/

.footer__mapa{

  /* grid-area: footer;*/

  display: flex;
    background-color:black;
    justify-content: center;
    
}

.formulario{

    background-color: black;
    flex-grow: 1;
}

.mapa{

    
    background-color: black;
}

.formulario{

    display: flex;
    flex-direction: column;
   
}

@media only screen and (min-width: 1000px) {
    /* Banner */
    .formulariomapa{

        display: flex;
        flex-direction:row;
    
    }

   